<h1>Parabéns Administrador!</h1>
<p>
  A academia, <strong><%= @gym.name.titleize %></strong> acaba de ser aprovada!.
</p>
<p>
	Obrigado por se cadastrar no <%= link_to('Gympass Toy App', root_url) %>
</p>
